body{
    background: #15202b;
    font-family: 'Roboto Mono', monospace;
    color: #eef;
}
.btn-totem{
    background: #1da1f2;
    border-color: #1da1f2;
    color: var(--bg-light);
}
.btn-totem:hover{
    color: #eceadc;
    background: rgb(26, 145, 218);
}
.bg-totem{
    background: #1da1f2
    color: var(--bg-light);
}
h1{
    padding-top: 20px;
    margin-bottom: 30px;
}
h2 a, h2 a:hover, h2 a:visited, h2 a:active{
    color: #eef;
    text-decoration: none;
}
.compteur-head{
    margin-bottom: 20px;
}
.compteur-data{
    border-radius: .8rem;
    background: #1a1c21;
}
.data-col{
    padding: 20px 0;
}
.data-col img{
    width: 100%;
}
.data-col-2{
    padding-right: 15px;
    padding-left: 15px;
}
.card-last{
    background: #2b2c25;
}
.card-record{
    background: #1c2432;
}
.card-moy{
    background: #2f1d1f;
}
.card-total{
    background: #3b3f45;
}
.card .card-text.cpt{
    text-align: center;
    color: #eceadc;
    text-shadow: 0px 0px 12px #fcff00;
    font-size: 50px
}
.data-col-2 .row .col {
    margin-bottom: 20px;
}
section.compteur{
    margin-top: 20px;
    padding-top: 30px;
}
footer{
    font-family: 'Open Sans', sans-serif;
    background: #253341;
    color: #77a7bd;
    font-size:0.8em;
    padding-top: 15px;
    padding-bottom: 2px;
    text-align: center;
    margin-top: 20px;
}
footer a{
    color: #77a7bd;
}
footer a:hover{
    color: #eef;
}
.chart-data canvas{
    margin-top:30px;
}
.btn-dark{
    background-color: #1a1c21;
    border:none;
    box-shadow: none;
}
.btn-dark:hover, .btn-dark:active, .btn-dark:visited, .btn-dark:focus{
    background-color: #212529;
    border:none;
    box-shadow: none;
}
.card.light{
    box-shadow: 0px 0px 12px #20c997
}
.card.light2{
    box-shadow: 0px 0px 12px #336699
}
section.meteo{
    margin-top: 50px;
}
section.meteo .legend{
    font-size: 0.7em;
}
section.meteo .legend a{
    color: #eef;
}
.data-col.with-photo{
    padding-top: 0;
}
.nav-tabs.nav-tabs-pm{
    border: none;
}
.nav-tabs.nav-tabs-pm .nav-item .nav-link,
.nav-tabs.nav-tabs-pm .nav-item .nav-link.active{
    background: #000;
    color: #ccc;
    border: none;
    font-size: 0.7em;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.nav-tabs.nav-tabs-pm .nav-item .nav-link.active{
    background: #333;
}
.nav-tabs.nav-tabs-pm .nav-item{
    border-right: thin solid #333;
}
.nav-tabs.nav-tabs-pm .nav-item:last-child{
    border-right: none;
}

/* @see https://codepen.io/erikterwan/pen/EVzeRP */
#bugerNav{
    position: absolute;
    right: 50px;
}
#menuToggle
{
  display: block;
  position: fixed;
  top: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #aa5762;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #eef;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 100px;
  padding: 50px;
  padding-top: 100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menu li a{
    display: inline-block;
    width: 100%;
}
#menuToggle input:checked ~ ul
{
  transform: translate(-100%, 0);
}

#main-404 p a{
    color: #fff;
}
#main-404 h1{
    margin-bottom: 5px;
}
#main-404 .retour{
    margin-top: 10px;
}

body.detail h1{
    margin-bottom: 0px;
}
body.detail section#head{
    margin-bottom: 30px
}
body.detail .map, body.detail img.photo-detail{
    width: 100%;
    margin-bottom: 5px;
}
body.detail h6{
    color: #111;
    margin-bottom: 0;
}
body.detail address{
    font-size: 0.8em;
    font-style: italic;
    color: #111;
}
.detail-data-col .card{
    margin-bottom: 10px;
}
body.detail .card-init{
    margin-bottom: 10px;
}
body.detail .card-title em{
    font-size: 0.6rem;
    color: var(--bs-secondary);
}
body.detail .ring{
    margin-bottom: 10px;
}
body.detail .ring ul{
    background: var(--bs-light);
    list-style-type: none;
}
body.detail .ring li.active{
    background: var(--bs-gray-dark) !important;
}
body.detail .ring li.list-group-item-light a{
    color: var(--bs-gray);
    width: 100%;
}
body.detail .ring li.list-group-item-light.active a{
    color: var(--bs-light);
}
@media screen and (max-width: 768px) {
    h1{
        margin-bottom: 0;
        width: calc(100% - 50px);
    }
    #menuToggle{
        top: 20px;
    }
    .card .card-text.cpt{
        font-size: 40px;
    }
    .nav-tabs.nav-tabs-pm li a{
        padding: 0.5em;
    }
    .data-col-2 .row .col {
        margin-bottom: 5px;
    }
    table{
        font-size: 0.7em;
    }
}
@media screen and (min-width: 350px) and (max-width: 768px) {
    #menu{
        width: 410px;
        padding-top: 80px;
    }
    #menu li{
        padding: 8px;
    }
}
