body{
    background: #15202b;
    font-family: 'Roboto Mono', monospace;
    color: #eef;
}
h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
}
h2 a, h2 a:hover, h2 a:visited, h2 a:active{
    color: #eef;
    text-decoration: none;
}
.compteur-data{
    border-radius: .8rem;
    background: #1a1c21;
}
.data-col{
    padding: 20px 0;
}
.data-col-2{
    padding-right: 15px;
    padding-left: 15px;
}
.card-last{
    background: #2b2c25;
}
.card-record{
    background: #1c2432;
}
.card-moy{
    background: #2f1d1f;
}
.card-total{
    background: #3b3f45;
}
.card .card-text.cpt{
    text-align: center;
    color: #eceadc;
    text-shadow: 0px 0px 12px #fcff00;
    font-size: 50px
}
.row.sep{
    margin-top:20px;
}
section.compteur{
    margin-top:50px;
}
footer{
    font-family: 'Open Sans', sans-serif;
    background: #253341;
    color: #77a7bd;
    font-size:0.8em;
    padding-top: 15px;
    padding-bottom: 2px;
    text-align: center;
    margin-top: 20px;
}
footer a{
    color: #77a7bd;
}
footer a:hover{
    color: #eef;
}
.chart-data canvas{
    margin-top:30px;
}
.btn-dark{
    background-color: #1a1c21;
    border:none;
    box-shadow: none;
}
.btn-dark:hover, .btn-dark:active, .btn-dark:visited, .btn-dark:focus{
    background-color: #212529;
    border:none;
    box-shadow: none;
}
.card.light{
    box-shadow: 0px 0px 12px #20c997
}
section.meteo{
    margin-top: 50px;
}
section.meteo .legend{
    font-size: 0.7em;
}
section.meteo .legend a{
    color: #eef;
}
