ErrorDocument 404 /404.php
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^detail/$ /detail.php [L]
RewriteRule ^galaxie/$ /galaxie.php [L]
RewriteRule ^suggestions$ /souhaits.php [L]
RewriteRule ^suggestions/$ /souhaits.php [L]
RewriteRule ^detail/(.*)$ /detail.php?cpt=$1 [L]
RewriteRule ^communautaire/(.*)$ /totem.php?totem=$1 [L]
